.home {
    display: flex;
    width: 100%;

    .home-container {
        flex: 6;
        
        background: #FFFFFF;
        box-shadow: 2px 4px 10px 1px rgb(201, 201, 201);
border-radius: 15px;

        .feature-widgets {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .home-widgets {
            // display: flex;
            margin: 20px;
        }
    }

}