.latest-widget{
    flex: 2;
    /* margin: 20px;*/
    padding: 20px; 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.latest-title{
    font-size: 20px;
    font-weight: 600;
}

.table-wrapper{
margin-top: 20px;
    width: 100%;
    border-spacing: 20px;
    font-weight: 600;
   
}

.table-row{
    align-items: center;
}

.table-heading{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.table-user{
    display: flex;
    align-items: center;
}

.table-userimage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.table-trackid,.table-product,.table-date,.table-amount{
    font-size: 15px;
    font-weight: 400;
}



.status-button-Declined{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #fff0f1;
    color: red;
}

.status-button-Approved{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #e5faf2;
    color: green;
}

.status-button-Pending{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ebf1fe;
    color: blue;
}