.mapcomponent-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 0.5px solid lightgray;
  
  
  .map-chart {
    flex: 1;
    margin-right: 20px;
  }
  
  .map {
    flex: 1;
  }
}