.datagrid-table {
    height: 600px;
    padding: 20px;
    // 




    .cell-with-img {
        display: flex;
        align-items: center;


        .cell-img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-right: 20px;

        }
    }

    .cell-with-status {
        padding: 5px 10px;
        border: none;
        border-radius: 10px;

        &.active {
            background-color: #e5faf2;
            color: green;

        }

        &.passive {
            background-color: #fff0f1;
            color: red;
        }

        &.pending {
            background-color: #ebf1fe;
            color: blue;

        }

    }

    .cell-with-action {
        display: flex;
        // margin: 20px;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        .ViewButton {
            // background-color: rgb(228, 228, 250);
            color: #7451f8;
        }

        .DeleteButton {
            // background-color: #fff0f1;
            color: red;
        }
    }

}